.tmw-comment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--container-background-color);
  box-sizing: content-box;
  border-radius: 20px;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1607843137254902));
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1607843137254902));
  width: 70%;
}

.tmw-comment {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-family: opensans_regular, Arial;
  padding: 20px;
  left: 0;
}

.tmw-icon-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.tmw-icon {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
  padding-left: 20px;
}

.tmw-icon:hover {
  fill: var(--text-hover-color);
}

.tmw-favourite-icon {
  width: 23.16px;
  height: 22px;
}

.tmw-active-favourite-icon,
.tmw-favourite-icon:hover {
  fill: rgba(212, 175, 55, 1);
}
