.tmw-comment-entry-container {
  background: var(--container-background-color);
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1607843137254902));
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1607843137254902));
  width: 60%;
  height: 205px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.tmw-comment-entry-area-container {
  margin: 30px;
  margin-right: 0px;
  height: 145px;
  width: 100%;
  background-color: var(--main-background-color);
  border-radius: 20px;
  overflow: none;
  display: flex;
}

.tmw-comment-entry-area {
  border: none;
  color: var(--text-color);
  background-color: inherit;
  resize: none;
  border-radius: 20px;
  padding: 20px;
  font-family: opensans_regular, Arial;
  flex: 1 1 auto;
}

.tmw-comment-entry-area:focus,
.tmw-comment-entry-area:active {
  outline: none !important;
}

.tmw-comment-submit-btn {
  font-size: 20px;
  font-weight: 700;
  font-family: opensans_semibold, Arial;
  color: var(--text-color);
  transform: rotate(90deg);
  user-select: none;
}

.tmw-comment-submit-btn:hover {
  color: var(--text-hover-color);
  cursor: pointer;
}

@media screen and (max-width: 1450px) {
  .tmw-comment-entry-container {
    width: 80%;
  }
}
