.tmw-header-menu-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  z-index: 2;
  height: 80px;
}

.tmw-header-menu-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--container-background-color);
  border-radius: 20px;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1607843137254902));
  overflow: hidden;
}

.tmw-page-name-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--menu-item-color);
  fill: var(--menu-item-color);
}

.tmw-menu-element {
  font-family: opensans_semibold, Arial;
  font-size: 15px;
  font-weight: 200;
  color: var(--menu-item-color);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  user-select: none;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1607843137254902));
}

.tmw-menu-element:hover,
.tmw-page-name-container:hover {
  color: var(--menu-item-color-hover);
  fill: var(--menu-item-color-hover);
  cursor: pointer;
}

.tmw-menu-inner-menu-element {
  display: flex;
  align-items: center;
  width: 40%;
}

.tmw-menu-inner-left {
  justify-content: flex-end;
}

.tmw-menu-inner-right {
  justify-content: flex-start;
}

.tmw-main-page-name {
  font-size: 20px;
  padding-bottom: 3px;
  color: inherit;
}

.tmw-dropdown-icon {
  transform: rotate(90deg);
  fill: inherit;
  width: 8px;
  padding-right: 10px;
}

@media screen and (max-width: 1450px) {
  .tmw-header-menu-container {
    width: 95%;
  }

  .tmw-menu-element {
    font-size: 10px;
  }

  .tmw-main-page-name {
    font-size: 15px;
  }
}
