.tmw-header-menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: visible;
  z-index: 2;
  height: 70px;
  -webkit-filter: drop-shadow(0px 3px 6px var(--shadow-color));
  filter: drop-shadow(0px 3px 6px var(--shadow-color));
}

.tmw-header-menu-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: visible;
  min-width: 550px;
  position: relative;
  background-color: var(--menu-background-color);
}

/* .tmw-header-menu-inner-container::after {
  position: absolute;
  bottom: 0px;
  border-top: 0.1px solid var(--container-background-color);
  width: 100%;
  content: "";
} */

.tmw-page-name-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--menu-item-color);
  fill: var(--menu-item-color);
}

.tmw-menu-element {
  font-family: opensans_semibold, Arial;
  font-size: 16px;
  font-weight: 200;
  color: var(--menu-item-color);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  user-select: none;
}

.tmw-menu-element:hover,
.tmw-page-name-container:hover {
  color: var(--menu-item-color-hover);
  fill: var(--menu-item-color-hover);
  cursor: pointer;
}

.tmw-menu-inner-menu-element {
  display: flex;
  align-items: center;
  width: 40%;
}

.tmw-menu-inner-left {
  justify-content: flex-end;
}

.tmw-menu-inner-right {
  justify-content: flex-start;
}

.tmw-main-page-name {
  font-size: 20px;
  padding-bottom: 3px;
  color: inherit;
}

.tmw-dropdown-icon {
  margin-top: 3px;
  transform: rotate(90deg);
  fill: inherit;
  width: 8px;
  padding-right: 10px;
}

.tmw-menu-seperator-bar {
  width: 70%;
  height: 0.5px;
  background-color: var(--menu-item-color-hover);
}

@media screen and (max-width: 1645px) {
  .tmw-menu-element {
    font-size: 13px;
  }

  .tmw-main-page-name {
    font-size: 17px;
  }
}

@media screen and (max-width: 1453px) {
  .tmw-header-menu-container {
    width: 80%;
  }

  .tmw-menu-seperator-bar {
    width: 80%;
  }

  .tmw-menu-element {
    font-size: 10px;
  }

  .tmw-main-page-name {
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  .tmw-menu-seperator-bar {
    width: 90%;
  }

  .tmw-header-menu-container {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .tmw-menu-element {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 680px) {
  .tmw-menu-seperator-bar {
    width: 99%;
  }

  .tmw-header-menu-container {
    width: 99%;
  }
}

@media screen and (max-width: 630px) {
  .tmw-menu-element {
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 570px) {
  .tmw-menu-element {
    font-size: 8px;
  }

  .tmw-main-page-name {
    font-size: 13px;
  }
}
