#tmw-note-container-outer {
  width: 90%;
  height: 95%;
  margin-bottom: 5%;
  background: var(--container-background-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.tmw-note-container-inner {
  border-radius: 17px;
  background: var(--main-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

#tmw-note-container {
  background: inherit;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.tmw-note-container-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
  height: 100%;
}

[contenteditable] {
  outline: 0px solid transparent !important;
}
