:root {
  --main-background-color: rgba(238, 238, 238, 1);
  --container-background-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
  --text-hover-color: rgb(80, 80, 80);
  --menu-item-color: rgba(27, 100, 158, 1);
  --modal-background-color: rgba(0, 0, 0, 0.8);
  --menu-item-color-hover: rgb(15, 58, 94);
}

::placeholder {
  color: var(--text-hover-color);
  opacity: 1;
}

body {
  font-family: "Open Sans", serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-background-color);
  position: relative;
}

@font-face {
  font-family: opensans_semibold;
  src: url(./OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: opensans_regular;
  src: url(./OpenSans-Regular.ttf);
}

.tmw-half-container {
  margin-top: 10vh;
  width: 50%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-width: 476px;
}

#tmw-main-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  left: 0;
  display: flex;
}

.tmw-seperator-icon {
  width: 25px;
  height: 25px;
  transform: rotate(90deg);
  fill: var(--text-color);
}

.tmw-seperator-icon:hover {
  fill: var(--text-hover-color);
  cursor: pointer;
}

#tmw-seperator-icon {
  position: absolute;
  right: -52.5px;
  z-index: 3;
}

.tmw-seperator-container {
  width: 25px;
  height: 25px;
}

.tmw-main-spacer {
  width: 40px;
  height: 25px;
  min-height: 25px;
  min-width: 40px;
}

.ql-toolbar,
.ql-container {
  border: 0px solid transparent !important;
  font-family: "Open Sans", serif;
}

.ql-snow .ql-stroke {
  stroke: var(--text-color) !important;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: var(--text-hover-color) !important;
}

.ql-editor {
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0px 0px !important;
  font-size: 16px;
  color: var(--text-color) !important;
}

.ql-editor.ql-blank::before {
  left: 0px !important;
  color: var(--text-color) !important;
}

.ql-syntax {
  background-color: var(--container-background-color) !important;
  color: var(--text-color) !important;
}
