:root {
  --main-background-color: rgba(238, 238, 238, 1);
  --container-background-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
  --text-hover-color: rgb(80, 80, 80);
  --menu-background-color: rgba(27, 100, 158, 1);
  --modal-background-color: rgba(0, 0, 0, 0.8);
}

::placeholder {
  color: var(--text-hover-color);
  opacity: 1;
}

body {
  font-family: "Open Sans", serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-background-color);
}

@font-face {
  font-family: opensans_semibold;
  src: url(./OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: opensans_regular;
  src: url(./OpenSans-Regular.ttf);
}
