.tmw-tooltip-container {
  position: relative;
  height: 20px;
}

.tmw-tooltip-container .tmw-tooltip-text {
  visibility: hidden;
  width: 170px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 3;
  top: 150%;
  left: 0%;
  margin-left: -110px;
}

.tmw-tooltip-container .tmw-tooltip-text::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 0%;
  margin-left: 136px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tmw-tooltip-container:hover .tmw-tooltip-text {
  visibility: visible;
}
